
@{
    Layout = null;
}

    <!DOCTYPE html>
 <html lang="en">
     @await Component.InvokeAsync("_HeadAdminLayoutComponentPartial")
   <body>
        <div class="loader"></div>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                @await Component.InvokeAsync("_NavbarAdminLayoutComponentPartial")
                @await Component.InvokeAsync("_SidebarAdminLayoutComponentPartial")
                <div class="main-content">
                 @RenderBody()
                @await Component.InvokeAsync("_RightSettingsAdminLayoutComponentPartial")
                </div>          
            </div>
        </div>
        <script src="~/otika-bootstrap-admin-template/assets/js/app.min.js"></script>
        <script src="~/otika-bootstrap-admin-template/assets/js/scripts.js"></script>
        <script src="~/otika-bootstrap-admin-template/assets/js/custom.js"></script>
   </body>


</html>